<div *ngFor="let loja of Lojas" class="row">
  <h2> {{ loja.nomeLoja }} </h2>
  <h3> Transações </h3>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Natureza</th>
          <th>Data</th>
          <th>Tipo</th>
          <th>Cartão</th>
          <th>CPF</th>
          <th>Valor (R$)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transacao of loja.transacoes"
          [ngClass]="{'table-danger': transacao.natureza == 'SAIDA', 'table-info': transacao.natureza == 'ENTRADA'}">
          <td> {{ transacao.sinal }} </td>
          <td> {{ transacao.natureza }} </td>
          <td> {{ transacao.data | date : 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td> {{ transacao.tipo }}</td>
          <td> {{ transacao.cartao }}</td>
          <td> {{ transacao.cpf | cpf }}</td>

          <td> {{ transacao.valor | currency : 'BRL' }} </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="6">
            <h6 class="text-end pe-3">Total disponivel em conta:</h6>
          </td>
          <td>
            <h6>
              {{ loja.saldo | currency : 'BRL' }}
            </h6>
          </td>
        </tr>
      </tfoot>

    </table>
  </div>

</div>
